.caixa{
    background-color: #3f5185;
}
.titulo{
    color: white !important;
    font-weight: bold !important;

}
.botao{
    border-Color: white !important;
    background-color: #3F51B5;
    color: white !important;
}
.postagens{
    background-color: white;
}